.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border-radius: 15px;
    background-color: rgba(35, 42, 49, 0.7);
}

.title {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.img {
    width: 200px;
    border-radius: 15px 0 0 15px
}

.btn {
    font-size: 20px;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    background: rgb(35,42,49,0.7);
    border: 1px solid #91c8f6;
    color: #91c8f6;
}

.icon {
    width: 24px;
}

.empty {
    display: flex;
    justify-content: center;
    color: #91c8f6;
    padding-top: 50px;
}