@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap");
/*Обнуление*/
* {
  margin: 0;
  padding: 0;
  /*height: 100%;*/
  font-family: sans-serif;
  /*background-color: #232a31;*/
  font-family: '72', '72full', Arial, Helvetica, sans-serif;
  /*color: #91c8f6;*/
}

html,
body,
.wrapper {
  height: 100%;
  background-color: #232a31;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.top {
  min-height: 768px;
}

.header {
  background-color: #232a31;
  display: flex;
  justify-content: space-between;
}

.main {
  background-color: #1c2228;
  min-height: 100%;
  color: #fafafa;
}

.searchInput{
  width: 90%;
  margin: 10px;
}
.loginBtn {
  margin: 10px;
}